@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-layout-header,
.ant-layout-sider-trigger {
    background: #096dd9;
    box-shadow: 0 2px 8px #f0f1f2;
    color: #fff;
}

.ant-layout-sider {
    background-color: #fafafa;
}

.site-layout-background {
    background: #fff;
}

.ant-layout {
    min-height: 100vh;
}

a {
    color: #333;
}

a:hover {
    color: #333;
}

button,
[type='button'] .ant-switch {
    background-image: none;
    background-color: none;
}